* {
  padding: 0%;
  margin: 0cm;
}
body {
  background-image: url(https://wallpaperaccess.com/full/22919.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.h1 {
  color: white;
  background-color: midnightblue;
  text-align: center;
}
.wrapper {
  display: flex;
}

.container {
  display: flex;
  flex: 3;
  /* background: skyblue; */
  height: 100vh;
}
.sidebar {
  flex: 1;
  /* background: lightgreen; */
  height: 100%vh;
  background-color: skyblue;
  border-radius: 15px;
}
.sidebar > p {
  color: black;
}
.card img {
  max-width: 50%;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  color: white;
  background-color: midnightblue;
}
@media only screen and (max-width: 900px) {
  .wrapper {
    flex-direction: column;
  }
  /* .container {
    flex-direction: column;
  } */
}
